body{
    background-image: url(shojou.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

th{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

td{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
}

.centered-text{
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}